<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue基本模板</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- 
       v-show:指令：和v-if指令很像，但是他的性能会好点，因为v-if会创建和删除界面元素，v-show不会
     -->
    <div id="app">
        <p v-if="age >= 18">成年人</p>
        <p v-if="age < 18">未成年人</p>

        <p v-show="age >= 18">成年人1</p>
        <p v-show="age < 18">未成年人2</p>

    </div>
    <script>
        let vue = new Vue({
            el: '#app',
            data: {
                age:18,
                score: 100
            }
        });
    </script>
</body>

</html>