<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue基本模板</title>
    <!-- 1 引入vue -->
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <button @click="toggle">我是app中的按钮</button>
       <!-- <p v-if="isShow">我是首页</p>
       <img v-else src="../images/fm.jpg" alt=""> -->
       <home v-if="isShow"></home>
       <photo v-else></photo>
    </div>
    <template id="home">
        <div>
            <p>我是首页</p>
        </div>
    </template>
    <template id="photo">
        <div>
            <img src="../images/fm.jpg" alt="">
        </div>
    </template>
    <script>
        Vue.component("home",{
            template:'#home'
        });
        Vue.component("photo",{
            template:'#photo'
        });

        // 2 创建vue实例对象
        let vue = new Vue({
            // 3 告诉vue 的实例对象，将来要控制界面上的那个区域
            el:'#app',
            // 4 告诉vue 的实例对象，被控制的数据是什么
            data:{
               isShow:true
            },
            methods:{
                toggle(){
                    this.isShow=!this.isShow
                }
            },
            computed:{},
            components:{
            }
        });
    </script>
</body>
</html>